@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Saira+Condensed:wght@300;400;700&display=swap");

:root {
  --font-fancy: "Lobster", sans-serif;
  --font-main: "Saira Condensed", sans-serif;

  --size-menu-logo: 7vmax;
  --size-menu-title: 4.5vmax;
  --size-menu-sub: 2vmax;
  --size-menu-links: 2vmax;
  --size-h1: 36px;
  --size-h2: 24px;

  --color-dark-100: rgba(14, 14, 14, 1);
  --color-dark-75: rgba(14, 14, 14, 0.75);
  --color-dark-25: rgba(14, 14, 14, 0.25);
  --color-white-100: rgba(255, 255, 255, 1);
  --color-white-75: rgba(255, 255, 255, 0.75);

  background: var(--color-dark-100);
}

/* 
  !!! styles HYPERLINKS 
*/

hr {
  border: 0px;
  height: 1px;
  background: var(--color-white-100);
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-white-100);
  /* text-decoration: underline; */
}

a:active {
  color: var(--color-white-100);
}

/* 
  !!! style HERO 
*/

.hero {
  height: 100vmin;
  background-image: url("../images/hero.jpg");
  background-color: var(--color-dark-25);
  background-blend-mode: multiply;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 
  !!! style NAVBAR 
*/

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 0;
}

.navbar__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navbar__logo img {
  width: var(--size-menu-logo);
}

.navbar__logo--text {
  text-align: center;
  line-height: 80%;
  font-family: var(--font-fancy);
  font-size: var(--size-menu-title);
  color: var(--color-white-100);
}

.navbar__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navbar__right--title {
  line-height: 300%;
  font-family: var(--font-main);
  font-size: var(--size-menu-sub);
  color: var(--color-white-100);
  letter-spacing: 5px;
}

.navbar__right--menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: var(--font-main);
  font-size: var(--size-menu-links);
  color: var(--color-white-100);
}

.navbar__right--button {
  text-align: center;
  width: 10vmax;
  padding: 1vmax 2vw;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-white-100);
}

.navbar__right--button:hover {
  background: var(--color-white-100);
  color: var(--color-dark-100);
  transition: all 0.2s ease-in-out;
}

/* 
  !!! style MAIN HEADER 
*/

.header--main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
}

.header--main--icon {
  width: 50px;
}

.header--main--text {
  font-family: var(--font-fancy);
  font-size: var(--size-h1);
  color: var(--color-white-100);
}

.header--main--fill {
  width: 100%;
}

/* 
  !!! style CONTAINERS 
*/

.container {
  max-width: 1140px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 740px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }
}

@media (max-width: 568px) {
  .container {
    max-width: 90%;
  }
}
