@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Saira+Condensed:wght@300;400;700&display=swap");

:root {
  --font-fancy: "Lobster", sans-serif;
  --font-main: "Saira Condensed", sans-serif;

  --size-menu-title: 46px;
  --size-menu-sub: 26px;
  --size-menu-links: 18px;
  --size-h1: 36px;
  --size-h2: 24px;

  --color-dark-100: rgba(14, 14, 14, 1);
  --color-dark-75: rgba(14, 14, 14, 0.75);
  --color-white-100: rgba(255, 255, 255, 1);
  --color-white-75: rgba(255, 255, 255, 0.75);

  background: var(--color-dark-100);
}

/* 
  !!! styles HYPERLINKS 
*/

hr {
  border: 0px;
  height: 1px;
  background: var(--color-white-100);
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--color-white-100);
  /* text-decoration: underline; */
}

a:active {
  color: var(--color-white-100);
}

/* 
  !!! style NAVBAR 
*/

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.navbar__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.navbar__logo--text {
  font-family: var(--font-fancy);
  font-size: var(--size-menu-title);
  color: var(--color-white-100);
}

.navbar__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.navbar__right--title {
  font-family: var(--font-main);
  font-size: var(--size-menu-sub);
  color: var(--color-white-75);
  letter-spacing: 5px;
}

.navbar__right--menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: var(--font-main);
  font-size: var(--size-menu-links);
  color: var(--color-white-75);
}

/* 
  !!! style HERO 
*/

.hero img {
  width: 100%;
}

/* 
  !!! style MAIN HEADER 
*/

.header--main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0px;
  gap: 10px;
}

.header--main--icon {
  width: 50px;
}

.header--main--text {
  font-family: var(--font-fancy);
  font-size: var(--size-h1);
  color: var(--color-white-100);
}

.header--main--fill {
  width: 100%;
}

/* 
  !!! style CONTAINERS 
*/

.container {
  max-width: 1140px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 740px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }
}

@media (max-width: 568px) {
  .container {
    max-width: 90%;
  }
}
